body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

/* ---- Book State Styling ---- */
.book-state {
  display: flex;
  align-items: center;
}

.book-details-container {
  border: 1px solid #000;
}

.book-completion-status {
  border: 1px solid #000;
}

.book-state-update {
  border: 1px solid #000;
}
